@(registerDrugs: List[SellDrug], rgisterForm: Form[SellDrug], registerDrugs1: List[RegisterDrug],addRes: Integer)

@import helper._
@RegisterationForm("Drug Store") {
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    

  <h5 align="center">شماره ثبت: @registerDrugs.size()</h5>
 <!--------------------------------------------------------Fill textfield-----------------------------------------------!>   
  <h5 align="right">  
   		<FORM NAME="showTotalresult"  >
				لیست داروها :<input type="search" list="list" width="300" name="nameListing" value="نام دارو ـ قیمت ـ ساخت" onChange="Pluse()">
								
					<datalist id="list">
 						@for(re_Drug <- registerDrugs1) { 
						<option value=@re_Drug.name,@re_Drug.price,@re_Drug.build>
										}
					</datalist> 
								
		 </FORM>
	</h5>  
<!------------------------------------------------------------Table---------------------------------------------------!>   
     <div id="form_table" style="width: 950px;   padding: 10px;">
                
        <table class="table-condensed" border="2" style="width: 950px; border: 2px solid #00FF40; text-align: right; padding-left:20px; margin:10px; overflow: scroll; height:60px; ">
        
        
 <thead>
        <FORM NAME="SavingForm" action="@routes.SellControll.newsell()" method="post">  
      
       				
       				<input id="field" type="image" src="@routes.Assets.at("images/icontexto-webdev-ok-048x048.png")" width="100" height="32" />
                  	<input style="width: 50px; height: 30px; color: maroon;" type="reset" value="لغو"/>
                  	
  				 <tr>                      
                        <td>
                        </td>
                        
                        <td>	
						 <input type="text" name="price" style="width:90%" required />
						</td>
                        
                         <td > 
							 <input type="text" name="drugCount" style="width:90%" required />
                        </td>
                        
                         <td>
							<p>@inputDate(rgisterForm("birthDate"), '_label->"",'_showConstraints -> false) </p> 
                         </td>
                         
                         <td >
						 <input type="text" name="build" style="width:90%" required />	
						</td>
                         
						<td>	
						 <input type="text" name="name" style="width:90%" required />
						</td>

						<td >		
							 <input type="text" name="num" style="width:90%" required />
						</td>       			 
                       
                  </tr>
   			</FORM>
	 </thead>
        
        
        
	 <thead>
                <tr>
                		<td>
  							<b>حذف</b>
                        </td>
                		 <td>
							<b> قیمت</b>
                        </td>                                                                          
                        <td>
							<b> تعداد</b>
                        </td>
                        <td>
							<b> تاریخ</b>
                        </td>
                         <td>
							<b>ساخت</b>
                        </td>
                        <td>
							<b>نام</b>
                        </td>
                        <td>
							<b> شماره ثبت</b>
                        </td>
                         
                    </tr>
          </thead>
       <tbody>
          
                @for(re_Drug <- registerDrugs) {
                
                    <tr>
                        <td>
						 <a href="@routes.SellControll.deletesell(re_Drug.number)" class="btn1">
					       <input type="image" src="@routes.Assets.at("images/icontexto-webdev-cancel-032x032.png")" width="24" height="24"/>
						</a>

                        </td>
                         <td>
								@re_Drug.price
                        </td>
                         <td>
								@re_Drug.drugCount
                        </td>
                        <td>
                        
                         @re_Drug.date.format("dd MMM yyyy")
                         
                         </td>
                         <td>
								@re_Drug.build
                        </td>
                         <td>
								@re_Drug.name
                        </td>
                        <td >
                        
								@re_Drug.num
								
                        </td>                                                 
                 </tr>    
                   
                                  
}
       </tbody>
 </table>
        <p>جمع کل:@addRes</p>
    </div>
    
    
 

	
	<!------------------------------------------------footer----------------------------------!>
	 <div id="footer"  align="center">
  
    <footer>
       <p align="center"> 2013 Clinic Management System. &copy;All Rights Reserved. | <a href="http://www.Khadhra.copy$gmail.com">www.Khadhra.copy$gmail.com</a></p>
    </footer>
  </div>  
   
  
}

