@(title: String)(content: Html)
@import helper._
@import helper.twitterBootstrap._
 
<!DOCTYPE html>
 
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/shape.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/patientCss.css")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
     <div id="mainDive">

    <header id="main_header">
    
    
            <div id="logo" >
                <img src="@routes.Assets.at("images/LogoFirst.jpg")" alt="Logo" width="120"  height="30"/>
            </div>
            
            <div id="title" >
                <h1 align="center">(نرم افزار مدیریت کلینیک و مراکز درمانی (آبنوس</h1>
            </div>
        
         
         
         
        <div id="menu"  align="center">
        
                    <ul style="list-style-type: none;">
                            <a href="">
                   	 	      <li><img src="@routes.Assets.at("images/home.png")" width="30" height="30"/>صفحه اصلی</li>
                           	</a>
                            
							<a href="########">
                                <li><img src="@routes.Assets.at("images/DefineControls.png")" width="30" height="30" /> دارو خانه</li>
                            </a>
        
                            <a style="width: 140px;" href="############">
                                <li><img src="@routes.Assets.at("images/11700135-nurse-uses-thermometer-with-patient.jpg")" width="25" height="25" />نسای و عملیات</li>
                            </a>
        
                            <a href="############">
                                <li><img src="@routes.Assets.at("images/LK2009-5E.jpg")" width="25" height="25" />بستر</li>
                            </a>
        
                            <a href="###########">
                                <li><img src="@routes.Assets.at("images/lab.png")" width="30" height="30" />آزمایشگاه</li>
                            </a>
        
                            <a href="############">
                                <li><img src="@routes.Assets.at("images/amb.png")" width="30" height="30" />آمبولانس</li>
                            </a>
            
                            <a href="#############">
                                <li><img src="@routes.Assets.at("images/acu.png")" width="30" height="30" />حسابداری</li>
                            </a>
        
                            <a href="############">
                                <li><img src="@routes.Assets.at("images/offi.gif")" width="30" height="30" />اداره</li>
                            </a>
         
                            <a href="################">
                                <li><img src="@routes.Assets.at("images/res.png")" width="30" height="30" />پذیرش</li>
                            </a>
                                                        
                        </ul>    
    </header>
   
   <div id="main_container"  >
   
   <!---------------------------------------------------------------------------------------------------------------------------------  -->
      
            <div id="form"  >
   
   
   @content
   
   
   
    
<!-- <img src="@routes.Assets.at("images/res.png") align="middle"  width="950" border="2" />--!>
    </div>
<!-------------------------------------------------------------------link--------------------------------------!>
     <div id="rightAside_container"  >   
      <div id="links" >
		<ul style="list-style-type: none; text-align: right; text-decoration:none;">
			<li><a href="@routes.SellControll.createSell()">فروش </a></li>
			
            <li><a href="@routes.RegisterControll.createDrug()">ثبت دارو </a></li> 
           <li><a href="@routes.ListSellContoroll.createListSell()">لیست فروشات </a></li>
          
             
		</ul>
	 </div>
	 
	 
	   <div id="clock_search" >
                        
                        <div id="clock" >
                            <!-- CLOCK AND AND SEARCHING -->
                		    <!-- CLOCK AND AND SEARCHING -->
                            <!-- CLOCK AND AND SEARCHING -->
                            <!-- CLOCK AND AND SEARCHING -->
                            <!-- CLOCK AND AND SEARCHING -->
								
								
							<div id="digital" >	
								<!--<html>-->
								<!--<head>-->
								<!--<html>-->
								<!--<head>-->
								<script language="JavaScript" link="www.freehtmlcodes.com">
								var clockID = 0;
								function UpdateClock() {
								   if(clockID) {
								      clearTimeout(clockID);
								      clockID  = 0;
								   }
								   var tDate = new Date();
								
								   document.theClock.theTime.value = "" 
								                                   + tDate.getHours() + ":" 
								                                   + tDate.getMinutes() + ":" 
								                                   + tDate.getSeconds();
								   clockID = setTimeout("UpdateClock()", 1000);
								}
								function StartClock() {
								   clockID = setTimeout("UpdateClock()", 500);
								}
								function KillClock() {
								   if(clockID) {
								      clearTimeout(clockID);
								      clockID  = 0;
								   }
								}
								</script>
								<!--</head>-->
								<body onload="StartClock()" onunload="KillClock()">
								<form name="theClock">
								   <input type=text name="theTime" size=8 style="text-align: center">
								</form>
							</div
	 


</body>
</html>



