@(id: Long, userForm: Form[User])

@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>Users</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editForm.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <dl id="user">

                <dd>
                    <a id="b" href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </header>

	 <div>

            <table class="users" height="30">
     
            <tbody>

    
   
   
    @form(routes.Application.updateUser(id)) {
        <tr>
     <td>   @inputText(userForm("id"), '_label -> "شماره مسلسل")  </td>
      <td>   @inputText(userForm("firstName"), '_label -> "نام کاربر")   </td>
     <td>    @inputText(userForm("lastName"), '_label -> "تخلص کاربر") </td>
      <td>   @inputPassword(userForm("password"), '_label -> "رمزکاربر") </td></tr>
      <tr> 
       <td>
       @checkbox(userForm("accountingAccess"), '_label -> "دسترسی حسابداری") </td>
<tr>
	 <td>	@checkbox(userForm("bedAcces"), '_label -> "دسترسی بستر") </td>
	<td>	@checkbox(userForm("labAccess"), '_label -> "دسترسی لابراتوار") </td>
	<td>	@checkbox(userForm("timeReservingAccess"), '_label -> " ثبت وقت")  </td>
	 <td>	@checkbox(userForm("ambulanceAccess"), '_label -> "کسیل کش") </td>
	<td>	@checkbox(userForm("operationAccess"), '_label -> "لابراتوار")</td> </tr>
	
	<tr><td>	@checkbox(userForm("receptionAccess"), '_label -> "پذیرش")  </td>
	<td> 	@checkbox(userForm("officeAccess"), '_label -> "اداره") </td>
	<td>	 @checkbox(userForm("createUserAccess"), '_label -> "ایجاد کاربر")</td>
	 <td>	@checkbox(userForm("drugStoreAccess"), '_label -> "دوا خانه") </td>  

		<td>
        <input type="submit" value="Create">
        <a href="@routes.Application.users()" class="btn">Cancel</a> </td>
        </tr>
    }
    </div>
    </body>
</html>
