@(ambulances: List[AmbulanceInfo])
@import helper._
@import helper.twitterBootstrap._

@main("Print List of Patients"){
<div style="width:50px; height:30px; ">
     <SCRIPT LANGUAGE="JavaScript">
                if (window.print) {
                document.write('<form> '
                + '<input style="width: 50px; height: 30px; color: white; background-color: orange; float: left;" type=button name=print value="جاپ" '
                + 'onClick="javascript:window.print()"></form>');
                }// End -->
      </script>
</div>

 <div id="form" style="width: 100%; margin-top: 20px; padding: 10px;">
        <h1 align="center"> کلینیک خصوصی قدس </h1>
        <h3 align="center"> لیست تماس های دریافتی </h3>
        <table class="table-condensed" border="2" style="width: 950px; border: 2px solid #00FF40; text-align: right; margin: auto; overflow:scroll; ">
      
<!-- List of reserved bed -->
                <!-- heading of list or table -->
                <tr>
                      
                      <th style="text-align:center;width:55px">وضعیت پرداخت</th>
                      <th style="text-align:center;width:55px">هزینه</th>
                      <th style="text-align:center width:100px;">ادرس</th>
                      <th style="text-align:center">تاریخ تماس</th>
                      <th style="text-align:center">تلفن تماس گیرنده</th>
                      <th style="text-align:center;">نام تماس گیرنده</th>
                      <th style="text-align:center;">شماره امبولانس</th>
                      <th style="text-align:center;"> شماره </th>
                </tr>
                <!-- body of List or table-->
                
                <script>
              	var counter=1;
              	</script>
              	
                @for(ambulance <- ambulances){
                
	                <tr @if(ambulance.payment == "پرداخت نشده") {
		                    	bgcolor="yellow"
		                    }
		                    >
	                    
	                    <td>
	                        @ambulance.payment
	                    </td>
	                    <td>
	                       	@ambulance.cost
	                    </td>
	                    <td>
	                        @ambulance.address
	                    </td>
	                    <td>
	                      	@ambulance.date.format("MM/dd/yyyy")
	                    </td>
	                    <td>
	                        @ambulance.phone
	                    </td>
	                    <td>
	                      	@ambulance.firstName
	                    </td>
	                    <td>
	                      	@ambulance.ambulancenumber
	                    </td>
	                    <td>
	                       <script>
	                       document.write(counter++)
	                       </script>
	                    </td>
	                </tr>  
                }
                </table>
            
        </div>

}