@(users: List[User])

@import helper._

<html>

<head>
<title>

</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/userInterface.css")">
</head>
<body>

	<table  class="users" height="30">
		<thead>
		<tr>
		<td><input type="search" /></td>
		<td><input type="search" /></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td><b>شماره</b></td>
		<td><b> نام کاربر</b></td>
		<td><b>اجازه دسترسي</b></td>
		<td><b> عمل</b></td>
		</tr>
		</thead>
		<tbody>
		@for(user <- users) {
			<tr>
			<td>@user.id</td>
			<td>@user.firstName</td>
			<td>@user.lastName</td>
			<td><span> <input disabled type="checkbox" @if(user.bedAccess){checked}/><label> بستر</label></span>
			<span> <input disabled type="checkbox" @if(user.labAccess){checked} /><label> لابراتوار</label></span>
			<span> <input disabled type="checkbox" @if(user.receptionAccess){checked}/> <label>پذیرش</label></span>
			<span> <input disabled type="checkbox" @if(user.accountingAccess){checked}/><label>حسابداری</label></span> 
			<span> <input  disabled type="checkbox" @if(user.timeReservingAccess){checked} /> <label> رزرو وقت</label></span>
			<span> <input  disabled type="checkbox" @if(user.officeAccess){checked}/><label>اداره</label> </span>
			<span> <input disabled type="checkbox" @if(user.ambulanceAccess){checked} /><label>کسیل کش</label></span>
			<span> <input disabled type="checkbox" @if(user.createUserAccess){checked}/> <label>ایجاد کاربر</label></span>
			<span><input disabled type="checkbox" @if(user.operationAccess){checked} /> <label>عملیات</label> </span>
			<span> <input disabled type="checkbox" @if(user.drugStoreAccess){checked}/><label> دوا خانه</label></span></td>
			<td>
			<button id="sbmit3" class="cancelsubmit" type="submit">
				@form(routes.Application.deleteUser(user.id)) { 
					<input id="sbmit2" type="submit" value="حذف">
				}
				</button>
				<br />
				<button id="sbmit1" class="cancelsubmit" type="submit">
				@form(routes.Application.editUser(user.id)) { 
				<input id="sbmit" type="submit" value="ویرایش">
			}
			</button>
			<td>
			</tr>
			}
		</tbody>
	</table>
	</body>
</html>