@(beds: List[BedReservation], t: String, k:String, bundle: ResourceBundle)
@import helper._
@import helper.twitterBootstrap._

@main("Searching"){
							
<div id="mainDive">

        <header id="main_header">
    
    
            <div id="logo" >
                <img src="@routes.Assets.at("images/LogoFirst.jpg")" alt="Logo" width="120"  height="30"/>
            </div>
            
            <div id="title" >
                <h1 align="center">@bundle.getString("clinicManagementSystem")</h1>
            </div>
        
         
         
        <div id="menu"  align="center">
        
                    <ul style="list-style-type: none;">
                            <a href="">
                   	 	      <li><img src="@routes.Assets.at("images/home.png")" width="30" height="30"/>@bundle.getString("mainPage")</li>
                           	</a>
                            
							<a href="@routes.RegisterControll.rgister()">
                                <li><img src="@routes.Assets.at("images/DefineControls.png")" width="30" height="30" /> @bundle.getString("drugStore")</li>
                            </a>
        
                            <a style="width: 140px;" href="@routes.ParturitionCon.parturitions()">
                                <li><img src="@routes.Assets.at("images/11700135-nurse-uses-thermometer-with-patient.jpg")" width="25" height="25" />@bundle.getString("parturition&operation")</li>
                            </a>
        
                            <a href="@routes.BedController.bedIndex()">
                                <li><img src="@routes.Assets.at("images/LK2009-5E.jpg")" width="25" height="25" />@bundle.getString("bed")</li>
                            </a>
        
                            <a href="###########">
                                <li><img src="@routes.Assets.at("images/lab.png")" width="30" height="30" />@bundle.getString("lab")</li>
                            </a>
        
                            <a href="@routes.AmbulanceCon.ambulanceIndex()">
                                <li><img src="@routes.Assets.at("images/amb.png")" width="30" height="30" />@bundle.getString("ambulance")</li>
                            </a>
            
                            <a href="@routes.SellControll.sell()">
                                <li><img src="@routes.Assets.at("images/acu.png")" width="30" height="30" />@bundle.getString("accounting")</li>
                            </a>
        
                            <a href="@routes.Application.users()">
                                <li><img src="@routes.Assets.at("images/offi.gif")" width="30" height="30" />@bundle.getString("office")</li>
                            </a>
         
                            <a href="@routes.ReceptionCon.index()">
                                <li><img src="@routes.Assets.at("images/res.png")" width="30" height="30" />@bundle.getString("reception")</li>
                            </a>
                                                        
                        </ul>    
    </header>
   
   <div id="main_container"  >
   
   <!---------------------------------------------------------------------------------------------------------------------------------  -->
      
            <div id="form"  >
            
  <!----------------------------------------------------------- table or form (950px) ------------------------------------------------  -->
            
<!-- searching and printing the list -->

        	<div id="print list" style="width: 920px; height: 30px; padding-left:20px; ">
	            <form id="printList" action="@routes.BedController.printListBed()" method="get" >
	                <input  type="image" src="@routes.Assets.at("images/icontexto-webdev-print-048x048.png")" style="float: left;" width="50" height="50"/>
	            </form>
	            
	            <form class="form-search" id="searching" action="@routes.BedController.searchBed()" method="get">
	            	<select class="input-medium search-query" id="type" name="type" style="float: right; margin: 3px;" >
											<option value="bedNum">@bundle.getString("numberBed") </option>
											<option value="name">@bundle.getString("identitiesPerson")</option>
											<option value="fatherName">@bundle.getString("nameFather")</option>
					</select>
	                <input id="key" name="key" type="text" style="float: right;  margin: 3px;"/>
	                <input  type="image" src="@routes.Assets.at("images/icontexto-webdev-search-032x032.png")" width="40" height="40" style="float: right;" />
	            </form>
          </div>
          
      	<div id="form_table" style="width: 950px;   padding: 10px;">
                
        <table class="table-condensed" border="2" style="width: 950px; border: 2px solid #00FF40; text-align: right; padding-left:20px; margin:10px; overflow:scroll; ">


                
<!-- List of reserved bed -->
                <!-- heading of list or table -->
                <tr>
                      <th style="text-align:center">@bundle.getString("action")</th>
                      <th style="text-align:center;width:55px">@bundle.getString("dateFinish")</th>
                      <th style="text-align:center;width:55px">@bundle.getString("dateStart")</th>
                      <th style="text-align:center">@bundle.getString("cost")</th>
                      <th style="text-align:center">@bundle.getString("nameFather")</th>
                      <th style="text-align:center">@bundle.getString("identitiesPerson")</th>
                      <th style="text-align:center">@bundle.getString("department")</th>
                      <th style="text-align:center;width:70px">@bundle.getString("numberBed")</th>
                      <th style="text-align:center;width:40px">@bundle.getString("numberOrder")</th>
                </tr>
                <!-- body of List or table-->
                <script>
              	var counter=1;
              	</script>
                @for(bed <- beds){
	                <tr @if(!bed.finishDate.before(new Date())) {
		                    	bgcolor="orange"
		                    }
		                    >
	                    <td style="width:75px">
	                    	<form id="delete" action="@routes.BedController.deleteBed(bed.bedNumber)" method="post" style="float: left;">
				                <input type="image" src="@routes.Assets.at("images/icontexto-webdev-cancel-032x032.png")" width="24" height="24" onClick="return confirm('Are you sure to delete it?');"/>
							</form>
				            <form id="edit" action="@routes.BedController.updateBed(bed.bedNumber)" method="post" style="float: left;">
				            	<input type="image" src="@routes.Assets.at("images/icontexto-webdev-file-032x032.png")" width="24" height="24" />
							</form>
				            <form id="printReciept" action="@routes.BedController.printRecieptBed(bed.bedNumber)" method="post" style="float: left;">
				            	<input type="image" src="@routes.Assets.at("images/icontexto-webdev-print-032x032.png")" width="24" height="24" />
							</form>
	                    </td>
	                    <td>
	                        @bed.finishDate.format("MM/dd/yyyy")
	                    </td>
	                    <td>
	                       	@bed.startDate.format("MM/dd/yyyy")
	                    </td>
	                    <td>
	                        @bed.cost
	                    </td>
	                    <td>
	                      	@bed.name
	                    </td>
	                    <td>
	                        @bed.fatherName
	                    </td>
	                    <td>
	                      	@bed.bedDepartment
	                    </td>
	                    <td>
	                      	@bed.bedNum 
	                    </td>
	                    <td>
	                       <script>
	                       document.write(counter++)
	                       </script>
	                    </td>
	                </tr>  
                }
                </table>
            
        </div>
       
     <!-------------------------------------------------------------table or form-------------------------------------------------------  -->  
       
      </div>
      
      <!---------------------------------------------------------------------------------------------------------------------------------  -->
      
        
            <div id="rightAside_container" >
                    
                       
                    <div id="links" >
      <!-----------------------------------------------------------------------links ------------------------------>
                                <ul style="list-style-type: none; text-align: right; text-decoration:none;">
                    
                                    <li><a class="link" href="@routes.BedController.createBed()"><b>@bundle.getString("formRegistrationBed")</b></a></li> 
                                    <li><a class="link" href="@routes.BedController.bedIndex()"><b>@bundle.getString("listBedsReserved")</b></a></li>
                    
                                </ul>
      <!-----------------------------------------------------------------------links ------------------------------>                          
                    </div>
                
                          
                    <div id="clock_search ">
                        
                        <div id="clock" style=" top: 40px; text-align: center;">
                            <!-- CLOCK AND AND SEARCHING -->
                		    <!-- CLOCK AND AND SEARCHING -->
                            <!-- CLOCK AND AND SEARCHING -->
                             <!-- CLOCK AND AND SEARCHING -->
                              <!-- CLOCK AND AND SEARCHING -->
                               <!-- CLOCK AND AND SEARCHING -->
                               
                               <div id="digital" >	
								<!--<html>-->
								<!--<head>-->
								<!--<html>-->
								<!--<head>-->
								<script language="JavaScript" link="www.freehtmlcodes.com">
								var clockID = 0;
								function UpdateClock() {
								   if(clockID) {
								      clearTimeout(clockID);
								      clockID  = 0;
								   }
								   var tDate = new Date();
								
								   document.theClock.theTime.value = "" 
								                                   + tDate.getHours() + ":" 
								                                   + tDate.getMinutes() + ":" 
								                                   + tDate.getSeconds();
								   clockID = setTimeout("UpdateClock()", 1000);
								}
								function StartClock() {
								   clockID = setTimeout("UpdateClock()", 500);
								}
								function KillClock() {
								   if(clockID) {
								      clearTimeout(clockID);
								      clockID  = 0;
								   }
								}
								</script>
								<!--</head>-->
								<body onload="StartClock()" onunload="KillClock()">
								<form name="theClock">
								   <input type=text name="theTime" size=8 style="text-align: center">
								</form>
							</div
                               
                        </div>
                
                    </div>
            
        </div>
   </div>
  <div id="footer"  align="center">
  
    <footer>
       <p align="center"> 2013 Clinic Management System. &copy;All Rights Reserved. | <a href="http://www.Khadhra.copy$gmail.com">www.Khadhra.copy$gmail.com</a></p>
    </footer>
  </div>
  </div>
}