

<html> <head> <title> </title> 

		 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/RegistartionForm.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

</head> 

<body>
<header> <h1> Quds CLINIC </header>
<nav> 
	  <a href="#" > Reception </a>
      <a href="#" > Office </a>
      <a href="#" > Accounter </a>
      <a href="#" > Ambulance </a>
      <a href="#" > Laboratory </a>
      <a href="#" > Ward  </a>
      <a href="#" > Parturation </a>
      <a href="#" > Reserve time </a>
      <a href="#" > Medical  </a>
      <a href="#" > Home  </a>
      
</nav>

<div class="all"> 
		
<div class="left-top"> 
   <ul>
     <li> <a href="#"> List of Personals </a> </li>
      <li> <a href="#">Personal Registration Form</a> </li>
      <li> <a href="#">Registration</a> </li>
       <li> <a href="#">Create User</a> </li>
      
      </ul>
</div>
<div class="left-center"> 
</div>		
<div class="left-bottom">
 <input type="search" /> 
</div>
<div class="rightpersonal">
<textarea class="txtarea"> </textarea>
</div>
<div class="right-bottom"> 
	<label> section <label>
	  <select> 
	<option> name 1 </option>
	<option> name 2 </option>
	<option> name 3 </option>
	<option> name 4 </option>
	</select>
	 
	 <label> group </label>
	 <select> 
	<option> name 1 </option>
	<option> name 2 </option>
	<option> name 3 </option>
	<option> name 4 </option>
	</select>
	
	<input type="button" value="Print" />
	<input type="button" value="Edit" />
	
</div>
		
		
</div>
</body>
</html>
