@(personalList: List[Personal] ,type1: String, key2: String)

@import helper._
<!DOCTYPE HTML>  
<html> <head> <title> </title> 

		 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/RegistartionForm.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

</head> 

<body>
<header> <h1> نرم افزار مدیریت کلنیک و مراکز درمانی (آبنوس ) </h1></header>
<nav> 
	  <a href="#" > پذیرش  </a>
      <a href="#" > اداره </a>
      <a href="#" > حسابدار </a>
      <a href="#" > کسیل کش </a>
      <a href="#" > لابراتوار </a>
      <a href="#" > بستری  </a>
      <a href="#" > نسائی ولادی </a>
      <a href="#" > رزرو وقت </a>
      <a href="#" > دوا خانه  </a>
      <a href="#" > صفحه اصلی  </a>
      
</nav>

<div class="all"> 
		
<div class="right-top"> 
   <ul>
     <li> <a href="@routes.PersonalCon.personals()"> لیست کارمندان </a> </li>
      <li> <a href="@routes.PersonalCon.createPersonal()">فورم ثبت کارمندان</a> </li>
      <li> <a href="@routes.PersonalController.listNokarval()">ثبت</a> </li>
       <li> <a href="#">ساخت کارمندان</a> </li>
      
      </ul>
      
     
      <article name="clock"> 
       <script language="javascript">   
      
      var timeAndDate = new Date();
      
      document.write(timeAndDate.getSeconds().toString()+ " : "  + timeAndDate.getMinutes().toString()+ " : "  + timeAndDate.getHours().toString());
      
      </script>
      </article>
</div>

<div class="tablePersonal1">

<table>
<tr class="tblclr">
<th> شماره</tH>
<th> شماره پروانه</tH>
<th> نام</tH>
<th> نام پدر</tH>
<th> نام خانوادگی</tH>
<th> جد</tH>
<th> شماره تذکره</tH>
<th> تخصص</tH>
<th> تاریخ تولد</tH>
<th> ایمییل آدرس</tH>
<th> تلفن جیبی</tH>
<th> تلفن ضروری</tH>
<th> فیصدی</tH>
<th> قرار دادی</tH>
<th> بخش</tH>
<th> آماده فعالیت</tH>
<th> توضیحات</tH>
<th>  </th>

</tr>
<tbody>

@for(personal <- personalList){
<tr style="border: 2px ridge green; " class="tblclr">

	<td style="border: none; ">@personal.id</td>
	<td style="border: none;  ">@personal.rollNumber</td>
	<td style="border: none;  ">@personal.firstName</td>
	<td style="border: none;  ">@personal.fatherName</td>
	<td style="border: none;  ">@personal.familyName</td>
	<td style="border: none;  ">@personal.foreFather</td>
	<td style="border: none;  ">@personal.occupation</td>
	<td style="border: none;  ">@personal.dateOfBirth.format("MMM dd yyyy")</td>
	<td style="border: none;  ">@personal.email</td>
	<td style="border: none;  ">@personal.telephoneNumber</td>
	<td style="border: none;  ">@personal.emergencyNumber</td>
	<td style="border: none;  ">@personal.percentage</td>
	<td style="border: none;  ">@personal.notPercentage</td>
	<td style="border: none;  ">@personal.section</td>
	<td style="border: none; " >@personal.isready </td>
	<td style="border: none; ">@personal.info </td>
	<script>
	function show(){
	
	var sh = window.confirm("آیا می خواهید که حذف نمائید");
	}
	</script>
	
	<td style="border: none; ">   @form(routes.PersonalCon.deletePersonal(personal.id)){ <input type="submit" value="  " onclick=show()  id="del"/> }  </a> 
	@form(routes.PersonalCon.editPersonal(personal.id)){  <input type="submit" id="edt1" value="  " style= />}
	</td> 
	
	
		
</tr>
</tbody>
}
</table>

</div>
<div class="right-bottom"> 
	<label> بخش  <label>
	  <select> 
	<option> گروپ اول </option>
	<option> گروپ دوم </option>
	<option> گروپ سوم </option>
	<option> گروپ چهارم  </option>
	</select>
	 
	 <label> گروپ </label>
	 <select> 
	<option> گروپ اول </option>
	<option> name 2 </option>
	<option> name 3 </option>
	<option> name 4 </option>
	</select>
	
	<input type="button" id="print" value="چاپ لیست " /> 
	<input type="button" id="edit" value="ویرایش" />
	 </a>
	
</div>

</div>

</body>
</html>
