@(beds: List[BedReservation], bundle: ResourceBundle)
@import helper._
@import helper.twitterBootstrap._

@main("Print List of Reserved Beds"){
<div style="width:50px; height:30px; ">
     <SCRIPT LANGUAGE="JavaScript">
                if (window.print) {
                document.write('<form> '
                + '<input style="width: 50px; height: 30px; color: white; background-color: orange; float: left;" type=button name=print value="جاپ" '
                + 'onClick="javascript:window.print()"></form>');
                }// End -->
      </script>
</div>

 <div id="form" style="width: 100%; margin-top: 20px; padding: 10px;">
        <h1 align="center"> @bundle.getString("QodcPrivateClinic")</h1>
        <h3 align="center"> @bundle.getString("listBedsReserved") </h3>
        <table class="table-condensed" border="2" style="width: 950px; border: 2px solid #00FF40; text-align: right; margin: auto; overflow:scroll; ">


                
<!-- List of reserved bed -->
                <!-- heading of list or table -->
                <tr>
                      <th style="text-align:center;width:55px">@bundle.getString("dateFinish")</th>
                      <th style="text-align:center;width:55px">@bundle.getString("dateStart")</th>
                      <th style="text-align:center">@bundle.getString("cost")</th>
                      <th style="text-align:center">@bundle.getString("nameFather")</th>
                      <th style="text-align:center">@bundle.getString("identitiesPerson")</th>
                      <th style="text-align:center">@bundle.getString("department")</th>
                      <th style="text-align:center;width:70px">@bundle.getString("numberBed")</th>
                      <th style="text-align:center;width:40px">@bundle.getString("numberOrder")</th>
                </tr>
                <!-- body of List or table-->
                <script>
              	var counter=1;
              	</script>
                @for(bed <- beds){
	                <tr>
	                   
	                    <td>
	                        @bed.finishDate.format("MM/dd/yyyy")
	                    </td>
	                    <td>
	                       	@bed.startDate.format("MM/dd/yyyy")
	                    </td>
	                    <td>
	                        @bed.cost
	                    </td>
	                    <td>
	                      	@bed.fatherName
	                    </td>
	                    <td>
	                        @bed.name
	                    </td>
	                    <td>
	                      	@bed.bedDepartment
	                    </td>
	                    <td>
	                      	@bed.bedNum 
	                    </td>
	                    <td>
	                       <script>
	                       document.write(counter++)
	                       </script>
	                    </td>
	                </tr>  
                }
                </table>
           
        </div>
}