@(form: Form[Application.Login])


<html>

<head>
<title>Clinic</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">

</head>
<body>
	<div class="all">

		<div class="bdy">
				<center><h2>کلنیک خصوصی قدس</h2> </center>
			@helper.form(routes.Application.authenticate) {
				
				@if(form.hasGlobalErrors) {
					<p class="error">
					@form.globalError.message
					</p>
				} 
				
				@if(flash.contains("success")) {
					<p class="success">
					@flash.get("success")
					</p>
				} 
			<label id="username"> نام کاربر</label> 
			<input type="text" name="firstName" id="input1" placeholder="نام" value="@form("firstName").value">
			<br /> 
			<label id="pass"> رمز ورود</label> 
			<input type="password" id="input2" name="password" placeholder="رمز ورود" > 
			<br />

			<button id="btn1" class="lginsubmit" type="submit">ورود</button>
			<button id="btn2" class="cancelsubmit" type="reset">خروج</button>

			<br /> }
		</div>



</body>
</html>



